html {
	font-size: 18px;
	line-height: 1.4;
	font-family: Helvetica, sans-serif;
}

/* Header */

header {
	height: 30rem;
	top: 0;
	background-image: url("../images/glasses-bg.png");
	background-size: cover;
	background-position: 50% 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

nav {
	width: 960px;
	margin: 1rem auto;
	background-color: cadetblue;
	color: white;
	align-self: flex-start;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

nav img {
	height: 1.5rem;
	margin: 1rem 1rem 1rem 2rem;
}

nav h1 {
	margin-right: auto;
}


nav li {
	display: inline;
	margin-right: 2rem;
}

/* Hero box */

#hero {
	width: 960px;
	margin-top: 10rem;
	margin-right: -2rem;
	align-self: center;
	text-align: right;
}

#hero h2 {
	display: inline;
	padding: 2rem 5rem;
	background-color: white;
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
	text-transform: uppercase;
}

/* Benefits */

#benefits {
	margin: 5rem auto;
	display: flex;
	justify-content: center;
}

.benefit {
	height: 8rem;
	width: 5rem;
	margin-left: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.benefit img {
	width: 5rem;
}

.benefit:first-of-type {
	margin-left: 0;
}

.benefit:first-of-type img{
	width: 3.5rem;
}

/* Information */

#information {
	display: flex;
	justify-content: center;
}

.info {
	width: 30%;
}

.info:last-of-type {
	margin-left: 5%;
}

.info h2 {
	width: 10rem;
	padding: 0.5rem 1.25rem;
	margin-bottom: 1rem;
	background-color: cadetblue;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}

